.issues-container {
  width: 100%;
}

.issues-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.issues-container-with-buttons {
  margin-top: 25px;
}

.issues-list-card {
  width: 25%;
}

.login-page {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.login-page form {
  margin-right: 100px;
}

.login-btn {
  margin-top: 10px;
}

.add-issue-form {
  width: 75%;
  margin: 0 auto;
}

.single-issue-card {
  width: 60%;
  margin: 25px auto;
}

.single-issue-form {
  width: 65%;
  margin-top: 25px;
}