.irsr-nav {
  display: flex;
  align-items: flex-start;
  width: 10%;
  max-width: 170px;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  top: 100px;
  position: fixed;
  z-index: 2;
}